*{
  margin:0;
  padding :0;
}

.table1 {
  margin: 20px;
  padding: 20px;
  border:1px solid black;
  float: left;
}

.table1 th{
  padding: 10px;
  border: 1px solid black;
}

.table1 td{
  border: 1px solid black;
  padding: 10px; 
}


.but{
  padding:10px;
  margin:20px;
}

.uplist{
  text-align: center;
}

.heading{
  text-align: center;
  text-decoration: underline;
}

.imdbData{
  text-align: center;
}